@page
@model CentralServer.Pages.LocationReceiverModel
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LocationReceiver</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <p>LocationReceiver</p>
</body>
</html>
