@page
@model CentralServer.Pages.TaskReceiverModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TaskReceiver</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <p>TaskReceiver</p>
</body>
</html>
